<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro - Vue 3</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" 
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

</head>
<body>
    <div id="app">
        <header>
            <div class="collapse bg-dark" id="navbarHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-md-7 py-4">
                            <h4 class="text-white">Sobre</h4>
                            <p class="text-muted">
                                Este projeto foi desenvolvido durante curso de introdução ao Vue3 pela plataforma EspecializaTi Academy.
                            </p>

                            <p class="text-muted">
                                Durante estudo fiz o acompanhamento das aulas desenvolvendo os itens demonstrados, mas adicionei o bootstrap ao projeto via CDN e implementei um template de exemplo
                            </p>
                        </div>
                        <div class="col-sm-4 offset-md-1 py-4">
                            <h4 class="text-white">Contatos</h4>
                            <ul class="list-unstyled">
                                <li><a href="#" class="text-white">LinkendIn</a></li>
                                <li><a href="#" class="text-white">Github</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar navbar-dark bg-dark shadow-sm">
                <div class="container d-flex justify-content-between">
                    <a href="#" class="navbar-brand d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                        <strong>Album</strong>
                    </a>
                    
                    <span v-if="cart.length > 0" class="badge badge-pill badge-danger text-left">
                        itens: {{cart.length}}
                    </span>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
            </div>
        </header>

        <div class="container">
            <main role="main">
                <section class="jumbotron text-center">
                    <h1> {{title}} </h1>
                    <p class="lead text-muted"> Author: {{fullName}} </p>
        
                    <hr>
        
                    <div class="row">
                        <div v-for="(product, index) in products" class="col-md-4" :key="index">
                            <div class="card" style="width: 18rem;">
                                <img v-bind:src="product.image" v-bind:alt="product.title" class="w-image card-img-top">
                                <div class="card-body">
                                    <product-detail 
                                        :product="product"
                                        :product-in-cart="itemInCart(product)"
                                        @adding-product-to-cart="addCart"
                                        @removing-product-to-cart="removeCart">
                                    </product-detail>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                
                <section class="jumbotron">
                    <div class="row">
                        <div class="col-md-12">
                            <example-form></example-form>
                        </div>
                    </div>
                </section>
            </main>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./app.js"></script>
    
    <script src="./components/ProductDetail.js"></script>
    <script src="./components/ExampleForms.js"></script>
    <script>
        app.mount('#app');
    </script>
</body>
</html>

<style>
    .w-image {
        width: 100%;
    }
</style>